@font-face {
    font-family: "Chirp";
    src: url("fonts/Chirp-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Chirp";
    src: url("fonts/Chirp-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --text: oklch(92.2% 0 0);
    --text-second: oklch(70.8% 0 0);
}

body {
    background-color: oklch(26.9% 0 0);
    color: var(--text);
    font-family: "Chirp", Arial, Helvetica, sans-serif;
}

a {
    color: var(--text-second);
}

h1,
h2 {
    font-weight: bold;
    margin: 0;
}
