main {
    position: absolute;
    left: 50vw;
    top: 50vh;
    translate: -50% -50%;
    width: 50%;

    display: flex;
    flex-direction: column;
    place-items: center;
    text-align: center;
    gap: 50px;
}

header > svg {
    margin-bottom: 20px;
}
